{% extends "layout.html" %}
{% block content %}

<div class="page-container">
    <div class="card-box">
        <h2>User Guide</h2>
        <ol>
            <li>Create an account from the Register page.</li>
            <li>Login using your email and password.</li>
            <li>On the Home page, type a single feedback sentence and click “Analyze Sentence”.</li>
            <li>To analyze many feedback entries, upload a TXT or CSV file and click the corresponding button.</li>
            <li>Check “History” to view all previous analyses for your account.</li>
        </ol>
    </div>
</div>

{% endblock %}
